body
  background-color:#f0f0f

#mainNav
  margin: 10px 10px 10px 10px

#mainContainer
  background-color: rgba( 0, 0, 0, .1)
  position:absolute
  top:60px
  bottom:0px
  left:0px
  right:0px

circle
  -webkit-filter: drop-shadow( -5px -5px 5px #000 );
  // -webkit-filter: drop-shadow( -5px -5px 5px #000 )


